body {
  background-color: #7DE522;
  color:White;
  padding: 5px;
  font-family: 'Big Shoulders Text', cursive;
}

.text {
  background-color: white;
  color: #7DE522;
  padding: 5px;
  font-family: 'Supermercado One', cursive;
  line-height: 2em;
}
p::first-letter{
  font-family: 'Supermercado One', cursive;
  font-size: 3em;
  font-weight: 400;
  color: black;
}
a {
  background-color: black;
  color: white;
  font-size: 2em;
  padding: 5px;
}
a:hover{
  font-style: italic;
}
